body {
  background: url("./Picture1.png") no-repeat center center fixed;
  background-size: cover;
}

.container-2 {
  margin-bottom: 1000px;
  color: black;
}

.randdetitlu {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
margin-left: 580px;
  }
section {
    font-size: 2rem;
    padding: 2rem;
    background-color: rgb(201, 0, 0);
    color: white;
}

li {
    font-size: 1rem;
    padding: .5rem;
    background-color: rgb(156, 4, 4);
    color: white;
    list-style-type: none;
}
.columns {
    font-size: 2rem;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-fill: auto;
}


.background {
  transform: translateZ(-1px) scale(2);
}